<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link
			rel="stylesheet"
			href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %> page</h1>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur excepturi eos sunt dicta vitae reiciendis,
			dolores repudiandae in assumenda optio quae consectetur ad eaque voluptate unde. Vel voluptatum laudantium quis
			saepe at repellendus, excepturi, impedit inventore assumenda modi, molestiae expedita obcaecati aperiam dolorum
			quam culpa. Dolorem odit exercitationem quisquam nobis optio provident aut vero a at unde, nulla blanditiis. Sit
			obcaecati reprehenderit nostrum eum, ducimus harum provident magnam dignissimos soluta earum laudantium,
			perspiciatis iusto, deserunt quisquam? Necessitatibus, itaque! Voluptatum, natus soluta rerum aliquam dolor quae
			labore sunt inventore, numquam at dolorum quam exercitationem asperiores. At repudiandae dicta eaque rerum quidem.
		</p>
	</body>
</html>
