<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link
			rel="stylesheet"
			href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %> page</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ut nulla enim qui fugiat placeat non odio earum
			sit eum voluptate nam possimus dolor corrupti animi ducimus delectus, dolore, harum inventore totam tempore sint
			voluptatibus in illo. Eligendi nemo ut quis corrupti voluptas voluptatem fuga ex exercitationem sint ullam modi
			nobis maxime repellat, rem qui quia earum nam dicta iure quisquam eius autem! Ex consequatur modi deserunt aliquam
			adipisci quod ratione iste soluta minus hic. At autem iste animi amet sapiente culpa maxime accusantium eos
			aperiam saepe aliquam, voluptates vero illo cupiditate rerum vitae facere error ducimus nihil non! Eum!
		</p>
	</body>
</html>
