<header class="header">
	<div class="image__container">
		<a href="/">
			<img
				src="/images/favicon/android-chrome-512x512.png"
				alt="Image" />
		</a>
	</div>
	<%-include('../components/mainMenu.ejs') %>
</header>
