<nav class="nav">
	<ul>
		<li>
			<a
				href="/"
				class="<%=activePage ==='main'? 'active':'' %>"
				>Home</a
			>
		</li>
		<li>
			<a
				href="/about"
				class="<%=activePage ==='about'? 'active':'' %>"
				>About</a
			>
		</li>
		<li>
			<a
				href="/books"
				class="<%=activePage ==='books'? 'active':'' %>"
				>Books</a
			>
		</li>
		<li>
			<a
				href="/contacts"
				class="<%=activePage ==='contacts'? 'active':'' %>"
				>Contacts</a
			>
		</li>
	</ul>
</nav>
