<!DOCTYPE html>
<html>
	<head>
		<title>Визначення поточного дня</title>
		<link
			rel="stylesheet"
			href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Поточний день: <%= title %></h1>
		<p>Наступний день: <%= subTitle %></p>
	</body>
</html>
