<!DOCTYPE html>
<html>
	<head>
		<title>Task 1</title>
		<link
			rel="stylesheet"
			href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<h2>Задача 1. Розробити додаток з такими маршрутами:</h2>

		<table style="border-collapse: collapse; width: 400px; text-align: left">
			<tr>
				<th style="border: 1px solid #000; padding: 8px">Маршрут</th>
				<th style="border: 1px solid #000; padding: 8px">Що повертає</th>
			</tr>
			<tr>
				<td style="border: 1px solid #000; padding: 8px">season</td>
				<td style="border: 1px solid #000; padding: 8px">повертає пору року</td>
			</tr>
			<tr>
				<td style="border: 1px solid #000; padding: 8px">day</td>
				<td style="border: 1px solid #000; padding: 8px">повертає поточний день</td>
			</tr>
			<tr>
				<td style="border: 1px solid #000; padding: 8px">time</td>
				<td style="border: 1px solid #000; padding: 8px">повертає час дня (ранок, обід, вечера)</td>
			</tr>
		</table>
	</body>
</html>
