<!DOCTYPE html>
<html>
	<head>
		<title>Визначення поточного часу</title>
		<link
			rel="stylesheet"
			href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Час дня доби: <%= title %></h1>
	</body>
</html>
