<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link
			rel="stylesheet"
			href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<nav>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/products">Products</a></li>
				<li><a href="/products/add">Add products</a></li>
			</ul>
		</nav>
		<h2>Задача 4.</h2>
		<p>З використанням роутерів та шаблонізаторів розробити інтернет магазин з такими сторінками:</p>
		<ol>
			<li>about – як статична сторінка (розмістити у public)</li>
			<li>сторінка додавання продукту (поки лише відображаємо поля для заповнення інформації)</li>
			<li>сторінка відображення продуктів (у формі таблиці і списку)</li>
			<li>головна – знаходяться посилання на сторінки about і products і addproducts</li>
		</ol>
	</body>
</html>
